
<!DOCTYPE html>
		<html lang="en">
		  <head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<title>The Coronavirus App</title>
			<link rel="canonical" href="https://coronavirus.app" />
			<link rel="apple-touch-icon" sizes="180x180" href="https://coronavirus-92ebd.web.app/assets/img/logo/180.png">
			<link rel="icon" type="image/png" sizes="192x192" href="https://coronavirus-92ebd.web.app/assets/img/logo/192.png">
			<link rel="icon" type="image/png" sizes="96x96" href="https://coronavirus-92ebd.web.app/assets/img/logo/96.png">
			<link rel="icon" type="image/png" sizes="32x32" href="https://coronavirus-92ebd.web.app/assets/img/logo/32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="https://coronavirus-92ebd.web.app/assets/img/logo/16.png">
			<link rel="manifest" href="/sitemanifest.json">
			<link rel="mask-icon" href="https://coronavirus-92ebd.web.app/assets/img/logo/safari-pinned-tab.svg" color="#fff">
			<link rel="shortcut icon" href="https://coronavirus-92ebd.web.app/assets/img/logo/favicon.ico" sizes="512x512">
			<meta name="apple-mobile-web-app-title" content="The Coronavirus App">
			<meta name="application-name" content="The Coronavirus App">
			<meta name="msapplication-TileColor" content="#fff">
			<meta name="msapplication-config" content="https://coronavirus-92ebd.web.app/assets/img/logo/browserconfig.xml">
			<meta name="theme-color" content="#fff">
			<meta name="description" content="Track the spread of the Wuhan Coronavirus Covid-19 outbreak, browse an interactive map, view stats and charts, check affected regions in real-time and more.">
			<meta property="og:title" content="The Coronavirus App">
			<meta property="og:url" content="https://coronavirus.app" >
			<meta property="og:description" content="Track the spread of the Wuhan Coronavirus Covid-19 outbreak, browse an interactive map, view stats and charts, check affected regions in real-time and more.">
			<meta property="og:image" content="https://coronavirus-92ebd.web.app/assets/img/logo/social.jpg">
			<link href="https://fonts.googleapis.com/css?family=Heebo:400,500,700|Fira+Sans:600" rel="stylesheet">
			<link href="https://coronavirus-92ebd.web.app/assets/css/styles.css?v=2324843" rel="stylesheet" >
			<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
			<link href="https://coronavirus-92ebd.web.app/assets/css/feather/feather.css" rel="stylesheet" >
			<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="   crossorigin=""/>
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156994128-2"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-156994128-2');
			</script>
		</head>
		<body data-country="IN" data-a="NIjFWvrWaWhpkwUUMxBv" data-b="x-accqestoken" data-c="2020-03-28T13:39:32.037Z">
			<header></header>
			<main></main>
			<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
			<script src="https://coronavirus-92ebd.web.app/assets/js/moment.min.js"></script>
			<script src="https://coronavirus-92ebd.web.app/assets/js/app.js?v=2324843"></script>
			<script src="https://coronavirus-92ebd.web.app/assets/js/charts.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
		</body>
		</html>